div.stamp-wrap{
	position: relative;
}

div.create-edit-stamp{
	position: relative;
	display: flex;
  	flex-wrap: wrap;
	margin-top: 15px;
	margin-left: 5px;
	padding-bottom: 3px;
	font-family: 'Alegreya', sans-serif;
	font-size: 11px;
	color: #929292;
}

div.created-stamp{
	position: relative;
	margin-right: 20px;
}

div.edited-stamp{
	position: relative;
}